<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- Metadados -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrewMeACoffee</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="background-image"></div>
  <div class="container"><div class="hover-area"></div></div>

  <!-- Modais -->
  <%- include('modals/loginModal') %>
  <%- include('modals/registerModal') %>
  

  <!-- jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <!-- Scripts personalizados -->
  <script src="/js/scripts.js"></script>

<script>
  $(document).ready(function() {
  function adjustBackground() {
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    var imageRatio = 1920 / 1080; // Ajuste para a proporção real da imagem
    var windowRatio = windowWidth / windowHeight;

    if (windowRatio > imageRatio) {
      $('.background-image').css({
        'background-size': '100% auto' // Preenche horizontalmente
      });
    } else {
      $('.background-image').css({
        'background-size': 'auto 100%' // Preenche verticalmente
      });
    }
  }

  adjustBackground(); // Ajusta ao carregar
  $(window).resize(adjustBackground); // Ajusta ao redimensionar

  $('.hover-area').hover(
    function() {
      $('.background-image').css('background-image', "url('cafe4.jpg')");
    },
    function() {
      $('.background-image').css('background-image', "url('cafe3.png')");
    }
  );

  $('.hover-area').click(function () {
      // Ao clicar na porta
      $('#loginModal').modal('show');
    });
});
</script>

  <script>
  $(document).ready(function() {
    // Configurações opcionais do Toastr
    toastr.options = {
      "closeButton": true,
      "progressBar": true,
      "positionClass": "toast-top-right", // Posição da notificação
      "timeOut": "5000",
      "extendedTimeOut": "1000"
    };

    <% if (success_msg && success_msg.length > 0) { %>
      <% success_msg.forEach(function(msg) { %>
        toastr.success('<%= msg %>');
      <% }) %>
    <% } %>

    <% if (error_msg && error_msg.length > 0) { %>
      <% error_msg.forEach(function(msg) { %>
        toastr.error('<%= msg %>');
      <% }) %>
    <% } %>

    <% if (error && error.length > 0) { %>
      <% error.forEach(function(msg) { %>
        toastr.error('<%= msg %>');
      <% }) %>
    <% } %>

    <% if (errors && errors.length > 0) { %>
      <% errors.forEach(function(error) { %>
        toastr.error('<%= error.msg %>');
      <% }) %>
    <% } %>
  });
</script>

<script>
  $(document).ready(function() {
    <% if (typeof showRegisterModal !== 'undefined' && showRegisterModal) { %>
      $('#registerModal').modal('show');
    <% } else if (typeof showLoginModal !== 'undefined' && showLoginModal) { %>
      $('#loginModal').modal('show');
    <% } %>
  });
</script>


</body>
</html>
